.trivia-game {
  background-color: #0070c0;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #6497b1;
  border-radius: 0 0 20px 20px;
  z-index: 2;
}
.answers {
  min-height: 200px;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #fffccc;
}

.timer {
  width: 100%;
  min-height: 30px;
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #cc0707 0%,
    #707719 15%,
    #00ff2e 100%
  );
}
