.answer {
    flex-basis: 35%;
    min-height: 50px;
    text-align: center;
    background-color: #cccddd;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}