.content {
   
     margin-top: 5%;
     margin-left: 10%;
     margin-right: 10%; 
 margin-bottom: 10% ;
 /* max-height: 800px; */
}

.mainContainer {
    background: url(../../images/dirty-pattern-paint-room-block_1203-5709.jpg);
}