@media (min-width: 40rem) {

.App {
  text-align: center;
  background-color: #282c34;
  height: 80vh;
  justify-content: center;
  flex-direction: column; 
  display: flex;
  width: auto;
}

.Body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: red;
  width: auto;
}



.App-header {
  background-color: #282c34;
  color: rgb(250, 243, 243);
}

.App-link {
  color: #61dafb;
}

.Questions {
  min-height: 50vh;
  background-color: rgb(149, 122, 214);
  color: white;
  border-radius: 20px;
  /* font-size: calc(10px + 2vmin); */
  width: 60%;
  position: relative;
  top: 25%;
  left: 24%;
  /* flex-direction: column;  */
  justify-content: center;
  /* display: flex; */
}

.quest1 {
  background-color: white;
  height: 200px;
  width: 80%;
  /* position: relative; */
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: black;
}

.Button {
  width: fit-content;
  height: 50px;
  background-color: #282c34;
  border-radius: 20px;
  justify-content: center;
  /* flex-direction: column; */
  display: block;
  position:absolute;
 color: white;
 top: 50%;
 margin: 10px;
 transform: translateY(-50%);

}
}



