.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column; 
  display: flex;
}

.App-header {
  background-color: #282c34;
  color: rgb(250, 243, 243);
}

.App-link {
  color: #61dafb;
}

.Questions {
  min-height: 50vh;
  background-color: rgb(149, 122, 214);
  color: white;
  border-radius: 20px;
  /* font-size: calc(10px + 2vmin); */
  width: 60%;
  position: relative;
  top: 25%;
  left: 24%;
  /* flex-direction: column;  */
  justify-content: center;
  /* display: flex; */
}

.quest1 {
  background-color: white;
  height: 200px;
  width: 80%;
  /* position: relative; */
  border-radius: 20px;
  justify-content: center;
  flex-direction: column;
  display: flex;
  color: black;
}

.Button {
  width: 45%;
  height: 50px;
  background-color: #282c34;
  border-radius: 20px;
  /* justify-content: center; */
  /* flex-direction: column; */
  position: relative;
 color: white;
 margin: 10px;

}




